[Unit]
Description=Бот
After=network.target

[Service]
User=root

WorkingDirectory=/bot
LimitNOFILE=4096
ExecStart=python3.10 cli.py
Restart=on-failure
RestartSec=5s
EnvironmentFile=/etc/sysconfig/bot

[Install]
WantedBy=multi-user.target